Phase2/auteurs.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT auteurs (auteur+)>
<!ATTLIST auteurs xmlns:xsi CDATA  #FIXED "http://www.w3.org/2001/XMLSchema-instance">
<!ATTLIST auteurs xsi:noNamespaceSchemaLocation CDATA  #FIXED "auteurs.xsd">
<!ELEMENT auteur (pays,commentaire?,photo,ident)>
<!ATTLIST auteur nom CDATA #REQUIRED>
<!ATTLIST auteur prenom CDATA #REQUIRED>
<!ELEMENT pays (#PCDATA)>
<!ELEMENT commentaire (#PCDATA)>
<!ELEMENT photo (#PCDATA)>
<!ELEMENT ident (#PCDATA)>
